/*Old css code i attempted with another method */
/* .answers li { 
    list-style: upper-alpha; 
    } 
    
    label { 
    margin-left: 0.5em; 
    cursor: pointer; 
    } 
    
    #results { 
    background: #dddada; 
    color: 000000; 
    padding: 3px; 
    text-align: center; 
    width: 200px; 
    cursor: pointer; 
    border: 1px solid gray; 
    }
    
    #results:hover { 
    background: #3d91b8; 
    color: #ffffff; 
    padding: 3px; 
    text-align: center; 
    width: 200px; 
    cursor: pointer; 
    border: 1px solid gray; 
    } 
    
    #categorylist { 
    margin-top: 6px; 
    display: none; 
    } 
    
    #category1, #category2, #category3, #category4, #category5, #category6, #category7, #category8, #category9, #category10, #category11 { 
    display: none; 
    }
    
    #closing {
    display: none;
    font-style: italic;
    } */

    body {
        text-align: center;
        
        
    }

    /* section {
        color: rgb(14, 10, 5);
        padding: 4%;
        margin: 0 7% 3% 7%;
        position: relative;  
        top: -18px;  
        line-height: 35px;
        clear: both;
        background: rgb(255, 253, 253);
    } */
    #qText {
        position: relative;
        
    }
    button#newGame {
        position: absolute;
        /*right: 30px;*/
        top: 10px;
    }
    .scoreboard {
        float: left;
        margin: 2%;
        background-color: #fcafff;
        width: 20%;
        padding: 15px 6px;
        height: 52px;
        box-sizing: border-box;
        text-align: center;
    }
    #score {
        font-size: small;
        padding-top: 8px;
    }
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    #choices {
        display: inline-block;
        
    }
    #choices ol {
        position: relative;
    }
    .answer {
        cursor: pointer;
        margin: 5px;
        
    }
    button {    
        /*display: block;*/
        /*margin: auto;*/
        padding: 2%;
        font-size: 48px;
        font-family: "Tangerine", serif;
        margin-top: 4%;
        background-color: #a8f1bf;
        border-color: #666;
        border-radius: 7px;
        
        color: white;
    }
    
    /* #choices {
        
        background: black;
    }
    #choices ol {
        position: relative;
        
    } */
    .sectionQ {
        background-color: rgb(180, 250, 255);
        opacity: .35;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../images/trivia.jpg");
    }
   
    #result.correctResult {
        background-image: url("../images/correct.png");
         background-size: 250px 250px;
    }
    #result.wrongResult {
        background-image: url("../images/incorrect.png");
         background-size: 230px 230px;
    }
    #result.timesUp {
        background-image: url("../images/timesup.png");
         background-size: 230px 230px;
    }
